.full-page {
    width: 100%;
    min-height: 100%;
    background: var(--body-background);
    .page-body {
        width: 100%;
        min-height: 100%;
        padding: 80px var(--side-padding);
        overflow-x: hidden;
        flex-grow: 1;
        @media screen and(max-width:575px) {
            padding-top: 40px;
        }
    }
}