/* You can add global styles to this file, and also import other style files */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    --side-padding: 10%;
    @media screen and(max-width: 768px) {
        --side-padding: 5%;
    }
    @media screen and(max-width: 540px) {
        --side-padding: 16px;
    }
    background: var(--header-background);
}
html.dark-mode,
body.dark-mode {
    --header-background: #2b3743;
    --body-background: #202d36;
    --text-color-1: rgb(230, 230, 230);
    --text-color-2: rgb(190, 190, 190);
    --box-shadow: rgba(44, 47, 51, 0.2) 0px 8px 24px;
    .light-mode-item {
        display: none;
    }
    .dark-mode-item {
        display: block;
    }
}

html.light-mode,
body.light-mode {
    --header-background: #ffffff;
    --body-background: #fafafa;
    --text-color-1: rgb(20, 20, 20);
    --text-color-2: rgb(120, 120, 120);
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .light-mode-item {
        display: block;
    }
    .dark-mode-item {
        display: none;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: all ease 0.4s;
    outline: none !important;
    letter-spacing: 0.01em;
    font-feature-settings: "lnum" 1;
    -webkit-font-smoothing: antialiased;
}

p,
span,
button,
input {
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}
